@model LoT.Model.ImgFlash
<div class="banner">
    <section>
        <ul class="texts" style="font-weight:bold;">
            <p>@Model.TopTitle</p>
            <p>@Model.BottomTitle</p>
        </ul>
    </section>
</div>