<ul>
    <li style="background-image:url('/Images/vis.jpg');background-repeat:no-repeat; width:232px;height:152px;">&nbsp;</li>
</ul>
<ul class="ds-recent-visitors" data-num-items="@ViewBag.YouNeedCount"></ul>
<div class="clear"></div>