<div class="avatar"><a href="http://wpa.qq.com/msgrd?v=3&uin=1054186320&site=qq&menu=yes" target="_blank"><span>关于毒逆天</span></a></div>
<div class="topspaceinfo">
    <h1>执子之手，与子偕老</h1>
    <p>人海茫茫，我已经遇见了那个我爱的人....</p>
</div>
<div class="about_c">
    <p>网名：毒逆天 | 魔毒逆天</p>
    <p>目标：近期准备进一家外企工作~</p>
    <p>梦想：全民黑客化！</p>
    <p>Q&nbsp;Q：1054186320</p>
    <p>邮箱：dnt@dkill.net</p>
</div>
@*<div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_more" data-cmd="more"></a></div>*@
<div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_more" data-cmd="more"></a></div>