@*逆天实验室*@
@{
    ViewBag.Title = "逆天实验室~毒逆天的个人博客";
    Layout = "~/Views/Shared/_LoTBlog.cshtml";
    ViewBag.Keywords = "毒逆天,逆天,dunitian,dnt,个人博客,Net,分享,经验,资源,免费,dkill,dkill.net,逆天实验室";
    ViewBag.Description = "逆天实验室,这里主要是一些实验。逆天的个人博客，本博客主要以一些经验和技术分享为主，如有疏漏欢迎指出~";
}
@section HeadCss{
    <link href="/Css/index.css" rel="stylesheet">
    <link href="/Css/about.css" rel="stylesheet">
}
<script type="text/javascript">
        setTimeout(function () {
            top.location = '/DNT/Game/APP.html';
        }, 100);
</script>
<article>
    <h3 class="about_h">您现在的位置是：<a href="#">首页</a>><a href="1/">扩展应用</a></h3>
    <div class="about">
        开发ing
    </div>
</article>
<aside>
    <div class="avatar"><a href="about.html"><span>关于毒逆天</span></a></div>
    <div class="topspaceinfo">
        <h1>执子之手，与子偕老</h1>
        <p>人海茫茫，我却还未遇见那个我爱的人....</p>
    </div>
    <div class="about_c">
        <p>网名：毒逆天 | 魔毒逆天</p>
        <p>目标：3年内成为一位强悍的网络工程师！ </p>
        <p>梦想：全民黑客化！</p>
        <p>Q&nbsp;Q：1054186320</p>
        <p>邮箱：dnt@dkill.net</p>
    </div>
    <div class="bdsharebuttonbox"><a href="http://1054186320.qzone.qq.com" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="http://1054186320.qzone.qq.com" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="http://1054186320.qzone.qq.com" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="http://1054186320.qzone.qq.com" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="http://1054186320.qzone.qq.com" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="http://1054186320.qzone.qq.com" class="bds_more" data-cmd="more"></a></div>

    <div class="links">
        <h2>
            <p>友情链接</p>
        </h2>
        <ul>
            <li><a href="#">毒逆天个人博客</a></li>
            <li><a href="#">3DST技术社区</a></li>
        </ul>
    </div>
    <div class="copyright">
        <ul style="color: #808080;">
            <p>LoTBlog Beta 1.0 by <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1054186320&amp;site=qq&amp;menu=yes" target="_blank" style="color: #929090;">毒逆天</a></p>
            <p>Copyright ©&nbsp;2015 All rights</p>
        </ul>
    </div>
</aside>
@section JsScript{

}