<?xml version="1.0"?>
<configuration>
  
  <!--配置数据库的ConnectionString-->
  <connectionStrings>
    <add name="SqlConnStr" connectionString="data source=.;database=PawChina;user id=sa;password=dnt.dkill.net1" />
  </connectionStrings>
  
  <appSettings>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>