<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!--配置数据库的ConnectionString-->
  <connectionStrings>
    <add name="SqlConnStr" connectionString="data source=.;database=PawChina;user id=sa;password=dnt.dkill.net1" />
  </connectionStrings>
  
  <appSettings></appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <!--上传配置-->
    <httpRuntime executionTimeout="240" maxRequestLength="10485760" targetFramework="4.5.1" />
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>