@*置顶*@
<div id="tbox">
    <a id="togbook" href="#bottom" onclick="dis();"></a>
    <a id="gotop" href="#map" style="display: block;"></a>
</div>
@*消息框*@
@{Html.RenderAction("BottomMsg", "Index");}
@*旋转吧逆天*@
<div id="circle"></div>
<div id="circletext"><strong style="color: #3B3B3C;">欢迎你</strong></div>
<div id="circle1"></div>
<a name="bottom"></a>