<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--必须紧跟着configuration之后-->
  <configSections>
    <!--log4Net配置开始-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <!--log4Net配置结束-->

    <!--Spring.Net配置开始-->
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.MvcContextHandler, Spring.Web.Mvc4"/>
    </sectionGroup>
    <!--Spring.Net配置结束-->
  </configSections>

  <!--Spring.Net节点详细配置-->
  <spring>
    <context>
      <!--配置文件在网站根目录下的Config文件夹下的Spring.xml记得把xml文件设置成始终复制到输出目录-->
      <resource uri="file://~/Config/Spring.xml"/>
    </context>
  </spring>
  <!--Spring.Net节点详细配置结束-->

  <!--log4Net日志的详细配置开始-->
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="SysAppender"/>
    </root>
    <logger name="WebLogger">
      <!--只有高于或等于该级别的日志才会被记录下来【(高) OF >F > FATAL > ERROR > WARN > INFO > DEBUG > ALL (低)】-->
      <level value="DEBUG"/>
    </logger>
    <appender name="SysAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="App_Data/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.dnt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;-------------------------Log_Header-------------------------&#13;&#10;" />
      </layout>
    </appender>
    <appender name="consoleApp" type="log4net.Appender.ConsoleAppender,log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
  </log4net>
  <!--log4Net日志的详细配置结束-->

  <!--EF连接语句开始-->
  <connectionStrings>
    <add name="EFContext" connectionString="data source=.;initial catalog=LoTBlog;persist security info=True;user id=sa;password=dnt.dkill.net1;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--EF连接语句结束-->

  <appSettings>
    <!--文章默认展图（当随机不成功的时候才会读取）-->
    <add key="ArticleTypeDisPlayPic" value="/Images/article/1.jpg"/>
    
    <!--Dal层抽象工厂专用 程序集名称在内的类型全名,程序集名-->
    <add key="AdvertisementDal" value="LoT.Dal.AdvertisementDal,LoT.Dal"/>
    <add key="ArticleDal" value="LoT.Dal.ArticleDal,LoT.Dal"/>
    <add key="ArticleDisPhotoDal" value="LoT.Dal.ArticleDisPhotoDal,LoT.Dal"/>
    <add key="ArticleTagDal" value="LoT.Dal.ArticleTagDal,LoT.Dal"/>
    <add key="ArticleTypeDal" value="LoT.Dal.ArticleTypeDal,LoT.Dal"/>
    <add key="BaseInfoDal" value="LoT.Dal.BaseInfoDal,LoT.Dal"/>
    <add key="SeoTKDDal" value="LoT.Dal.SeoTKDDal,LoT.Dal"/>
    <add key="FriendLinkDal" value="LoT.Dal.FriendLinkDal,LoT.Dal"/>
    <add key="PeopleDisPhotoDal" value="LoT.Dal.PeopleDisPhotoDal,LoT.Dal"/>
    <add key="ImgFlashDal" value="LoT.Dal.ImgFlashDal,LoT.Dal"/>
    <add key="TalkingDal" value="LoT.Dal.TalkingDal,LoT.Dal"/>
    
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>

