@*学习心得、笔记*@
@{
    ViewBag.Title = "学习心得、笔记~毒逆天的个人博客";
    Layout = "~/Views/Shared/_LoTBlog.cshtml";
    ViewBag.Keywords = "毒逆天,逆天,dunitian,dnt,个人博客,Net,分享,经验,资源,免费,dkill,dkill.net,学习心得,笔记";
    ViewBag.Description = "学习心得、笔记，主要共享一些专业知识和安全的经验。逆天的个人博客，本博客主要以一些经验和技术分享为主，如有疏漏欢迎指出~";
}
@section HeadCss{
    <link href="/Css/style.css" rel="stylesheet">
}
<article>
    <h2 class="about_h">您现在的位置是：<a href="@Url.Action("Index","Index")">首页</a>><a href="@Url.Action("Index", "Share")" target="_blank">逆天原创</a></h2>
    <div class="bloglist">
        @{Html.RenderAction("NotePadArticle", "Article", new { pi = ViewBag.PageIndex, ps = ViewBag.PageSize });}
    </div>
</article>
<aside>
    @*右侧基本信息*@
    @{Html.RenderAction("BlogBaseInfo", "PartialView");}
    <div class="ph_news">
        <h2>
            <p class="tj_t1">最新文章</p>
        </h2>
        @{Html.RenderAction("NewArticle", "PartialView");}
        <h2>
            <p class="tj_t2">推荐文章</p>
        </h2>
        @{Html.RenderAction("RecommendedArticle", "PartialView");}
        <h2>
        <p class="tj_t2">编辑推荐</p>
        </h2>
        @{Html.RenderAction("CompilerLikeArticle", "PartialView");}
        <h2>
            <p class="tj_t2">最近访客</p>
            @{Html.RenderAction("DSPeople", "PartialView", new { count = 24 });}
        </h2>
    </div>
    @*友情链接*@
    @{Html.RenderAction("FriendLink", "PartialView", new { pageType = 4 });}
    @*版权*@
    @{Html.RenderAction("CopyRight", "PartialView");}
</aside>
@section JsScript{

}